Projects-2-Pictionary-MultiPlayer/PictionaryClient/PictionaryClient/Service References/PictionaryServiceRef/DrawCanvasBoard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DrawCanvasBoard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="User_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IUser_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IUser_PostLine_InputMessage">
    <wsdl:part name="parameters" element="tns:PostLine" />
  </wsdl:message>
  <wsdl:message name="IUser_GetLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLine" />
  </wsdl:message>
  <wsdl:message name="IUser_GetLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLineResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_CheckWord_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckWord" />
  </wsdl:message>
  <wsdl:message name="IUser_GetWordHint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordHint" />
  </wsdl:message>
  <wsdl:message name="IUser_GetWordHint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordHintResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWord" />
  </wsdl:message>
  <wsdl:message name="IUser_GetWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_getDrawer_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrawer" />
  </wsdl:message>
  <wsdl:message name="IUser_getDrawer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrawerResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_isDrawer_InputMessage">
    <wsdl:part name="parameters" element="tns:isDrawer" />
  </wsdl:message>
  <wsdl:message name="IUser_isDrawer_OutputMessage">
    <wsdl:part name="parameters" element="tns:isDrawerResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_getCanvas_InputMessage">
    <wsdl:part name="parameters" element="tns:getCanvas" />
  </wsdl:message>
  <wsdl:message name="IUser_getCanvas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCanvasResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_SendLine_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendLine" />
  </wsdl:message>
  <wsdl:message name="IUser_FinishCurrentGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FinishCurrentGame" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Join" message="tns:IUser_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/JoinResponse" message="tns:IUser_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Leave" message="tns:IUser_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/PostLine" message="tns:IUser_PostLine_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetLine" message="tns:IUser_GetLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetLineResponse" message="tns:IUser_GetLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/CheckWord" message="tns:IUser_CheckWord_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordHint">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetWordHint" message="tns:IUser_GetWordHint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetWordHintResponse" message="tns:IUser_GetWordHint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetWord" message="tns:IUser_GetWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetWordResponse" message="tns:IUser_GetWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrawer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/getDrawer" message="tns:IUser_getDrawer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/getDrawerResponse" message="tns:IUser_getDrawer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isDrawer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/isDrawer" message="tns:IUser_isDrawer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/isDrawerResponse" message="tns:IUser_isDrawer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCanvas">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/getCanvas" message="tns:IUser_getCanvas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/getCanvasResponse" message="tns:IUser_getCanvas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLine">
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/SendLine" message="tns:IUser_SendLine_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishCurrentGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/FinishCurrentGame" message="tns:IUser_FinishCurrentGame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="User" type="tns:IUser">
    <wsp:PolicyReference URI="#User_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IUser/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IUser/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PostLine">
      <soap12:operation soapAction="http://tempuri.org/IUser/PostLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetLine">
      <soap12:operation soapAction="http://tempuri.org/IUser/GetLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWord">
      <soap12:operation soapAction="http://tempuri.org/IUser/CheckWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetWordHint">
      <soap12:operation soapAction="http://tempuri.org/IUser/GetWordHint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <soap12:operation soapAction="http://tempuri.org/IUser/GetWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrawer">
      <soap12:operation soapAction="http://tempuri.org/IUser/getDrawer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isDrawer">
      <soap12:operation soapAction="http://tempuri.org/IUser/isDrawer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCanvas">
      <soap12:operation soapAction="http://tempuri.org/IUser/getCanvas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLine">
      <soap12:operation soapAction="http://tempuri.org/IUser/SendLine" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishCurrentGame">
      <soap12:operation soapAction="http://tempuri.org/IUser/FinishCurrentGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrawCanvasBoard">
    <wsdl:port name="User" binding="tns:User">
      <soap12:address location="http://localhost:12000/PictionaryLibrary/User" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:12000/PictionaryLibrary/User</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>