Projects-2-Pictionary-MultiPlayer/PictionaryClient/PictionaryClient/Service References/PictionaryServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckWordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordHint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordHintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWordHintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCurrentGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>